.LabelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.VrsInputPhone {
    display: flex;
    width: 100%;
    padding-left: 25% !important;
    color: #000000 !important;
    font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    padding-top: 13px !important;
}

.InputPhoneWrapper {

}

.VrsCountryCodeWrapper {
    display: flex;
    width: 5%;
    transform: translateY(20px);
    height: 36px;
    z-index: 1111;
    position: absolute;
    padding: 8px 4px;
}

.VrsInputAll {
    position: relative;
    font-family: gilroy;
    font-size: 14px;
    border: 1px solid #c2c5cc;
    border-radius: 9px;
    padding: 10px 12px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    margin: 0px;
    line-height: 14px;
    height: 36px;
    color: #6e7380;
    min-width: 50px;
    color: #000000 !important;
    font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    padding-top: 13px !important;
    margin-bottom: 10px;
}

.PadL25 {
    padding-left: 25% !important;
}

input.VrsInputAll::placeholder {
    font-size: 14px;
    color: #6e7380;
    font-weight: 400;
}