.LabelContainer {
    width: 50%;
    float: left;
    font-size: 13px;
    display: inline-block;
}

.PasswordLink {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 22px;
    color: #6e7380;
    margin-bottom: 3px;
    cursor: pointer;
}

.PasswordLink:hover {
    color: #242934;
}

.VrsInputPhone {
    display: flex;
    width: 100%;
    padding-left: 25% !important;
    color: #000000 !important;
    font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    padding-top: 13px !important;
}

.InputPhoneWrapper {

}

.VrsCountryCodeWrapper {
    display: flex;
    width: 5%;
    transform: translateY(0px);
    height: 36px;
    z-index: 1111;
    position: absolute;
    padding: 0 4px;
}

.VrsInputAll {
    position: relative;
    font-family: gilroy;
    font-size: 14px;
    border: 1px solid #c2c5cc;
    border-radius: 9px;
    padding: 10px 12px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    margin: 0px;
    line-height: 14px;
    height: 36px;
    color: #6e7380;
    min-width: 50px;
    color: #000000 !important;
    font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    padding-top: 13px !important;
    margin-bottom: 10px;
}

.PadL25 {
    padding-left: 25% !important;
}

.OTPRight {
    width: 47%;
    float: right;
    font-size: 14px;
    text-align: right;
    display: inline-block;
    margin: 0 0 12px 0;
    cursor: pointer;
}

.SSOContainer {
    border-top: 1px solid #ebeff2;
    padding-top: 16px
}

.IDPBtn {
    margin-bottom: 16px;
    border: 1px solid #c2c5cc;
    border-radius: 6px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
}

.IDPBtn:hover {
    cursor: pointer;
    background-color: #e9e9e9;
}

.IDPBtnIcon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.IDPBtnIcon img {
    height: 100%;
}

.IDPBtnLabel {
    font-size: 14px;
    line-height: 22px;
    color: #858a96;
}

.ForgotPasswordLink {
    font-size: 14px;
    line-height: 20px;
    color: #fbaf3f;
    text-align: right;
    margin-top: 9px;
    margin-bottom: 18px;
    cursor: pointer;
}

.ForgotPasswordLink:hover {
    color: #242934;
}